<?php

return [
    [
        'node1',
        'http://127.0.0.1:9001/RPC2',
        'user',
        '123',
    ],
    [
        'node2',
        'http://127.0.0.2:9001/RPC2',
        'user',
        '123',
    ],
];
